{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Hi bootstrap{% endblock title %}



{% block styles %}


{% endblock styles%}

{% block heading %}{{title}} {% endblock heading %}

{% block body %}

<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>


    <div class="card-body">
        {% if message %}
            <div class="alert-success success_message col-md-3 mb-4">
                <span>{{ message }}</span>
            </div>

        {% endif %}
        <form method="post">
          {% csrf_token %}
          {% crispy form %}
        </form>

        <div class="table-responsive mt-4">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        {% for field in fields %}
                        <th>{{ field }} </th>
                        {% endfor %}
                        <th class="delete_th"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        {% for field in fields %}
                        <th>{{ field }}</th>
                        {% endfor %}
                        <th class="delete_th"></th>
                    </tr>
                </tfoot>
                <tbody id="tableObjects">
                    {% for obj in object_list %}
                    <tr id="row-{{ obj.0 }}">
                        {% for value in obj %}
                        <td>{{ value }}</td>
                        {% endfor %}
                        <td class="delete_button">
                            <button class="btn btn-danger" id="delete-row-{{ obj.0 }}">-</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </ul>
    </div>
</div>


{% endblock body %}
