{% load static %}
<ul class="navbar-nav nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <div class="sidebar-img">
        <a class="d-flex align-items-center justify-content-center" href="{% url 'coffee:home' %}">
            <img src="{% static 'img/Costa_Coffee.png' %}" ></img>
        </a>
    </div>

    <!-- Divider -->


    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href={% url 'coffee:home' %}>
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Base tables:</h6>
                <a class="collapse-item" href={% url 'coffee:table_countries' %}>Countries</a>
                <a class="collapse-item" href={% url 'coffee:table_coffeeTypes' %}>Coffee types</a>
                <a class="collapse-item" href={% url 'coffee:table_owners' %}>Farm owners</a>
                <a class="collapse-item" href={% url 'coffee:table_buyers' %}>Buyers</a>
                <a class="collapse-item" href={% url 'coffee:table_farms' %}>Farms</a>
                <a class="collapse-item" href={% url 'coffee:table_coffeeProducts' %}>Coffee products</a>
                <a class="collapse-item" href={% url 'coffee:table_certificates' %}>Certificates</a>
                <a class="collapse-item" href={% url 'coffee:table_orders' %}>Orders</a>
                <a class="collapse-item" href={% url 'coffee:table_payments' %}>Payments</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Other tables:</h6>
                <a class="collapse-item" href="404.html">404 Page</a>
                <a class="collapse-item" href="blank.html">Blank Page</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-fw fa-table"></i>
            <span>Tables</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->



